<a href="https://colab.research.google.com/github/KIHOON71/scikit_learn_practice/blob/main/Titanic_Survivor_Prediction_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
Final_Test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/hands_on_ML/dataset/titanic/test.csv')

train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/hands_on_ML/dataset/titanic/train.csv')

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(train, test_size=0.3, random_state=42)

X_train.head()

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
445          446         1       1  ...  81.8583   A34         S
650          651         0       3  ...   7.8958   NaN         S
172          173         1       3  ...  11.1333   NaN         S
450          451         0       2  ...  27.7500   NaN         S
314          315         0       2  ...  26.2500   NaN         S

[5 rows x 12 columns]

In [ ]:
X_train.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   623.000000  623.000000  623.000000  ...  623.000000  623.000000  623.000000
mean    446.581059    0.370787    2.341894  ...    0.576244    0.386838   31.840730
std     260.012799    0.483404    0.819945  ...    1.216267    0.807692   51.027372
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     216.000000    0.000000    2.000000  ...    0.000000    0.000000    7.925000
50%     454.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     675.500000    1.000000    3.000000  ...    1.000000    0.000000   30.750000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 623 entries, 445 to 102
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  623 non-null    int64
 1   Survived     623 non-null    int64
 2   Pclass       623 non-null    int64
 3   Name         623 non-null    object
 4   Sex          623 non-null    object
 5   Age          499 non-null    float64
 6   SibSp        623 non-null    int64
 7   Parch        623 non-null    int64
 8   Ticket       623 non-null    object
 9   Fare         623 non-null    float64
 10  Cabin        139 non-null    object
 11  Embarked     622 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 63.3+ KB

In [ ]:
X_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            124
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          484
Embarked         1
dtype: int64

In [ ]:
X_train.shape

(623, 12)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

num_pipeline = Pipeline([
        ("imputer", SimpleImputer(strategy="median")),
        ("scaler", StandardScaler())
    ])

In [ ]:
from sklearn.preprocessing import OneHotEncoder

cat_pipeline = Pipeline([
        ("imputer", SimpleImputer(strategy="most_frequent")),
        ("cat_encoder", OneHotEncoder(sparse=False)),
    ])

In [ ]:
from sklearn.compose import ColumnTransformer

num_attribs = ["Age", "SibSp", "Parch", "Fare"]
cat_attribs = ["Pclass", "Sex", "Embarked"]

preprocess_pipeline = ColumnTransformer([
        ("num", num_pipeline, num_attribs),
        ("cat", cat_pipeline, cat_attribs),
    ])

In [ ]:
X_train_prepared = preprocess_pipeline.fit_transform(
    X_train[num_attribs + cat_attribs])

X_train_prepared.shape

(623, 12)

In [ ]:
X_train_labels = X_train['Survived']

In [ ]:
from sklearn.linear_model import LogisticRegression

Logistic_reg = LogisticRegression()

In [ ]:
from sklearn.model_selection import cross_val_score

reg_scores = cross_val_score(Logistic_reg, X_train_prepared, X_train_labels, cv=10)

reg_scores.mean()

0.8058115719406042

In [ ]:
reg_trained = Logistic_reg.fit(X_train_prepared, X_train_labels)

In [ ]:
X_train.index

Int64Index([445, 650, 172, 450, 314, 332, 801,  90, 834, 181,
            ...
            121, 614,  20, 700,  71, 106, 270, 860, 435, 102],
           dtype='int64', length=623)

In [ ]:
X_test_prepared = preprocess_pipeline.fit_transform(X_test[num_attribs + cat_attribs])
X_test_labels = X_test['Survived']
test_scores = cross_val_score(Logistic_reg, X_test_prepared, X_test_labels, cv=10)
reg_scores.mean()

print(dir(test_scores))

['T', '__abs__', '__add__', '__and__', '__array__', '__array_finalize__', '__array_function__', '__array_interface__', '__array_prepare__', '__array_priority__', '__array_struct__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__complex__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__ilshift__', '__imatmul__', '__imod__', '__imul__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__irshift__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lshift__', '__lt__', '__matmul__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__xor__', 'all', 'any', 'argmax', 'argmin', 'argpartition', 'argsort', 'astype', 'base', 'byteswap', 'choose', 'clip', 'compress', 'conj', 'conjugate', 'copy', 'ctypes', 'cumprod', 'cumsum', 'data', 'diagonal', 'dot', 'dtype', 'dump', 'dumps', 'fill', 'flags', 'flat', 'flatten', 'getfield', 'imag', 'item', 'itemset', 'itemsize', 'max', 'mean', 'min', 'nbytes', 'ndim', 'newbyteorder', 'nonzero', 'partition', 'prod', 'ptp', 'put', 'ravel', 'real', 'repeat', 'reshape', 'resize', 'round', 'searchsorted', 'setfield', 'setflags', 'shape', 'size', 'sort', 'squeeze', 'std', 'strides', 'sum', 'swapaxes', 'take', 'tobytes', 'tofile', 'tolist', 'tostring', 'trace', 'transpose', 'var', 'view']

In [ ]:
test_pred = reg_trained.predict(X_test_prepared)
X_test_prepared.shape

(268, 12)

In [ ]:
from sklearn.metrics import accuracy_score, f1_score
conf = accuracy_score(test_pred, X_test_labels)
f1 = f1_score(test_pred, X_test_labels)

print(f1, conf)

In [ ]:
from sklearn.model_selection import cross_val_predict